<h1 ng-bind="custFormCtrl.title | translate"></h1>

<md-content layout-padding flex-gt-sm="50">
  <form name="customerForm" ng-submit="custFormCtrl.submitForm()" novalidate>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label translate="FIRST_NAME"></label>
        <input name="firstName" type="text" required ng-model="custFormCtrl.customer.firstName">
        <div ng-messages="customerForm.firstName.$error">
          <div ng-message="required" translate="FIELD_REQUIRED"></div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label translate="LAST_NAME"></label>
        <input name="lastName" type="text" required ng-model="custFormCtrl.customer.lastName">
        <div ng-messages="customerForm.lastName.$error">
          <div ng-message="required" translate="FIELD_REQUIRED"></div>
        </div>
      </md-input-container>
    </div>

    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label translate="WEBSITE"></label>
        <input name="website" type="url" ng-model="custFormCtrl.customer.website">
        <div ng-messages="customerForm.website.$error">
          <div ng-message="url" translate="INVALID_URL"></div>
        </div>
      </md-input-container>
    </div>
    
    <md-button class="md-raised md-primary" type="submit"
      ng-disabled="customerForm.$invalid">
      {{ custFormCtrl.buttonAction | translate }}
    </md-button>
  </form>
</md-content>
